<%- include('partials/header') %>
  <%- include('partials/subbar') %>
  <form  action="/filterposts" method="post">
    <div class=" scroll row">
      
      <div class="col-3">
        
        <select style="margin-left: 20px; margin-top: 10px; width: 160px;" name="requirementfilter" class="form-control" id="requirementfilter">
          <option value="" disabled selected>Select Requirement</option>
          <option value="Beds without oxygen">Beds without oxygen</option>
          <option value="Beds with oxygen">Beds with oxygen</option>
          <option value="Medicine Type">Medicine Type</option>
          <option value="Oxygen Concentrator">Oxygen Concentrator</option>
          <option value="Plasma">Plasma</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="col-3">
        <select style="margin-left:70px; width: 180px; display: inline; margin-top: 10px;" class="form-control"  onchange="print_city('cityName', this.selectedIndex);" id="statefilter" name="statefilter"
          class="" ></select>
          
      </div>
      <div class="col-3">
        
        <select style="margin-left: 135px; width: 180px; display: inline; margin-top: 10px;"  id="cityName" class="form-control" name="cityfilter"></select>
  
        <script language="javascript">
          print_state("statefilter");
        </script>
      </div>
      <div class="col-3">
        
        <button  type="submit" style=" margin-top: 10px; margin-left: 200px; background-color: #006b96" class="btn btn-primary"
          name="postbutton">
          Apply Filter
        </button>
      </div>
    </div>
      
  
  
  
        
  </form>
  <br>
  <% posthelps.reverse().forEach(function(user){ %>   
          <div style="padding: 2%" class="jumbotron">
        <div class="row">
          <div class="col-8">
            <h2 style="font-size: 30px; display: table-cell; vertical-align: middle" class="display-4">
              <%=user.name%>
            </h2>
          </div>
          <div class="col-4">
            <p style="display: table-cell">
              <%=user.city%> , <%=user.state%>
            </p>
          </div>
        </div>
        <hr />
        <p style="font-weight: bold" class="firs">
          Requirement : <%=user.requirement%> | Covid Test: <%=user.result%>
        </p>
        <div class="row">
          <div class="col-8" style="  padding-left: 15px; padding-top: 10px;">
            <p style="text-align: justify;">
              <%=user.content%>
            </p>
            <br>
            Contact : <%=user.contact%>
          </div>
          <div class="col-4">
            <p>
              Age: <%=user.age%>
                <br />
                Temperature: <%=user.temperature%>
                  <br />
                  SPO2 Count: <%=user.count%>
            </p>

          </div>
        </div>



        <br />


        <p>
          <a href="tel:<%=user.contact%>"> Call </a>/
          <a target="_blank" href="https://api.whatsapp.com/send?phone=+91<%=user.contact%>">Whatsapp</a>
        </p>
      </div>
      <br>
      <% }) %>



        </div>
        </div>
        <%- include('partials/footer') %>